<ion-header>
  <ion-navbar color="primary">

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-buttons right>

      <button ion-button icon-only (click)="searchBarToggle()">
        <ion-icon name="search">
        </ion-icon>
      </button>

      <button ion-button icon-only (click)="goToShoppingChart()">
        <ion-icon name="basket">
          <ion-badge *ngIf="basketLength != 0" id="notifications-badge" color="primary">{{basketLength}}</ion-badge>
        </ion-icon>
      </button>

    </ion-buttons>

    <ion-title>Shopping List</ion-title>

  </ion-navbar>

  <ion-searchbar *ngIf="searchBar" (ionInput)="search($event)" (ionCancel)="reset($event)"></ion-searchbar>

</ion-header>

<ion-content>

  <ion-item>
    <ion-icon item-left name="funnel"></ion-icon>
    <ion-label>Sorting</ion-label>
    <ion-select [(ngModel)]="sorting" (ngModelChange)="reset($event)">
      <ion-option value="default" default>default</ion-option>
      <ion-option value="salesrank">Sales Rank</ion-option>
      <ion-option value="price_desc">price desc</ion-option>
      <ion-option value="price_asc">price asc</ion-option>
    </ion-select>
  </ion-item>

  <ion-card button *ngFor="let item of items">

    <img [src]="item.images.list[200]" style="width:70%; margin: 0 auto;" (click)="itemTapped($event, item)" />


    <ion-card-content>
      <ion-card-title (click)="itemTapped($event, item)">
        {{item.name}}
      </ion-card-title>

      <div float-left (click)="itemTapped($event, item)">
        <h2 style="font-weight: bold" ion-text color="primary">{{item.prices.price}} EGP</h2>
      </div>

      <button clear float-right ion-button transparent icon-only (click)="addToShoppingChart(item)" style="padding-bottom: 15px">
        <ion-icon name="add">
        </ion-icon>
      </button>

    </ion-card-content>

  </ion-card>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>